[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "==0.0.292"
pinecone-client = "==2.2.4"
tiktoken = "==0.5.1"
python-dotenv = "==1.0.0"

[dev-packages]
pdf2image = "==1.16.3"
"pdfminer.six" = "==20221105"

[requires]
python_version = "3.9"
